
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight:initial;
    background-color: white;
  
    color: black;
}

body {
    background-image: url(https://i.pcmag.com/imagery/articles/05hXk1J5R4iHWkM13wqrr9M-7.jpg);
    background-size:cover;
   
}

input {
    outline:rgb(188, 180, 180)
}

